<body>
    <div class="hero-image">
        <div class="buffer">
            
        </div>
        <div class="row">
            <div class="col-3"> </div>
            <div class="banner">
                <h2 class="d-flex justify-content-center">HAVE QUESTIONS?</h2>
                <h3 class="d-flex justify-content-center">REACH ME AT: <a href="https://www.google.com/maps/place/Parks+Barbershop+%26+Salon/@30.2247507
                    ,-95.5587689,17z/data=!3m1!4b1!4m5!3m4!1s0x8647300730afa319:0xe97c806cbf59e2ac!8m2!3d30.2247507!4d-95.5565802">PARKS BARBER SHOP</a></h3>
                <h3 class="d-flex justify-content-center">PHONE NUMBER: <a href="tel:281-252-4088">281-252-4088</a></h3>   
                <h3 class="d-flex justify-content-center">EMAIL: <a href="mailto:onereanimatorwest@gmail.com?subject= Questions for Brecca">onereanimatorwest@gmail.com</a></h3> 
            </div>
        </div>
    </div>
</body>