@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Montserrat&family=Open+Sans+Condensed:wght@300&family=Red+Rose&display=swap');

* {
    margin: 0;
    padding: 0;
}
.hero-image {
    background-image: url(../../assets/images/tim-mossholder-q49oU8NeOHQ-unsplash.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 36em;
    margin-top: 0em;
    vertical-align: top;
}
a {
    font-style: bold;
    color: rgb(247, 228, 151);
    
}
.buffer {
    height: 5em;
    width: 100%;
}
.banner {
    border: #f8f8ff solid;
    background-color: rgba(0, 0, 255, 0.767);
    color: #f8f8ff;
    padding: 1.5em;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1em;
    flex-direction: center;
}
.row {
    justify-content: center;
    margin: 0;
}
h2 {
    font-weight: bold;
    border-bottom: #f8f8ff solid;
    padding-bottom: 1em;
    
}
@media only screen and (device-width : 414px){
    [class*="col-"] {
        width: 100%;
      }
    .hero-image {
        width: 100%;
        height: 60em;
    }
    .banner{
        width: 100%;
    }

}
