<body>
  <div class="hero-image">
    <div class="container"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="cpl-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="price">
          <h2 class="font-weight-bold d-flex justify-content-center">SERVICES</h2><br>
          <h2 class="d-flex justify-content-center">HAIRCUT</h2>
          <h3 class="d-flex justify-content-center">$20</h3>
          <h2 class="d-flex justify-content-center">BEARD TRIM</h2>
          <h3 class="d-flex justify-content-center">$10</h3>
          <h2 class="d-flex justify-content-center">SHAVE NECK</h2>
          <h3 class="d-flex justify-content-center">$10</h3>
          <h2 class="d-flex justify-content-center">SHAVE</h2>
          <h3 class="d-flex justify-content-center">$30</h3>
          <h2 class="d-flex justify-content-center">BEARD TRIM & SHAVE</h2>
          <h3 class="d-flex justify-content-center">$40</h3>
        </div>
        <div class="col-4"></div>
      </div>
      
    

    
      
      
    
  </div>
</body>

