<body>
  <div class="hero-image">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h3>Shampoo</h3>
          <img src="" alt="">
          <h4>$10</h4>
        </div>
        <div class="col-4">
          <h3>Scissors</h3>
          <h4>$20</h4>
        </div>
        <div class="col-4">
          <h3>Fade</h3>
          <h4>$20</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h3>Beard</h3>
          <h4>$10</h4>
        </div>
        <div class="col-4">
          <h3>Shave</h3>
          <h4>$20</h4>
        </div>
        <div class="col-4">
          <h3>Beard & Shave</h3>
          <h4>$30</h4>
        </div>
      </div>
    </div>
  </div>
</body>

