@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Montserrat&family=Open+Sans+Condensed:wght@300&family=Red+Rose&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hero-image {
    background-image: url(../../assets/images/tim-mossholder-q49oU8NeOHQ-unsplash.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 36em;
    margin-top: 0em;
    vertical-align: top;
}
.buffer{
    height: 5em;
    width: 100%;
}
.jumbotron {
    height: 21em;
    padding: 0;
    background-color: rgba(0, 0, 255, 0.767);
    filter: grayscale(0%);
}
.col-4{
    padding-right: 1em;
    padding-left: 1.7em;
    width: 8em;
    filter: grayscale(0%);
}

img {
    height: 18em;
    width: 20em;
    margin-top: 1.5em;
    filter: grayscale(0%);
    
}

.col-8{
    margin-top: 1.5em;
    color: #f8f8ff;
    font-family: 'Lexend Zetta', sans-serif;

}
h3 {
    font-style: bold;
    margin-bottom: .4em;
}
p {
    color: #f8f8ff;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1em;
    font-weight: bold;
}