<body>
    <div class="hero-image">
      <div class="buffer"></div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container row">
              <div class="col-4">
                <img src="../../assets/images/adib-harith-fadzilah-LCXQC1kudXE-unsplash.jpg" alt="">
              </div>
              <div class="col-8">
                <p>Hello and welcome! My name is Braxton Robinson aka "Brecca the Barber" and this is my web page. 
                  I have been in the industry for eight years. I have been trained by award winning mentors to be able to cut a wide variety of styles ranging from 
                  slicked back classic to edgy contemporary. Currently I am cutting hair at <a href="https://www.google.com/maps/place/Parks+Barbershop+%26+Salon/@30.2247507
                  ,-95.5587689,17z/data=!3m1!4b1!4m5!3m4!1s0x8647300730afa319:0xe97c806cbf59e2ac!8m2!3d30.2247507!4d-95.5565802">Parks Barber Shop</a>  in Magnolia, 
                  Texas and would be glad it you stopped by for a cut! Feel free to browse the list of services I offer and feel free to reach out to set up a cut. 
                  Looking forward to making you look great!
                  
                </p> 
              </div>
          
            </div>
          </div> 
    </div>
</body>
    